/* Kontaktskjema frfr on god no cap */

   .form-container {
    border: 1px solid rgb(228, 220, 220);
    padding: 20px;
    width: 50%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.form-group {
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    max-width: 800px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
textarea {
    resize: vertical;
    height: 150px; /* Adjusted height */
}

button.submit-button {
    font-size: medium;
    float: left;
    padding: 15px 20px;
    background-color: #A9BE62;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5%;
}

button.submit-button:hover {
    background-color: #2742db;
}

.entire-page{ /*ikke best practise men flytter footer ned til bunnen*/
    height: 825px;
}

.response-box {
    display: none; /* Hidden by default */
    color: #fff;
    background-color: #A9BE62; /* Green background for success */
    padding: 25px; /* Increased padding for a larger box */
    border-radius: 10px; /* Slightly rounded corners */
    text-align: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* Slightly larger shadow */
    font-size: 18px; /* Larger font size */
    font-family: 'Poppins', sans-serif;
    max-width: 600px; /* Increased width */
    position: fixed; /* Position fixed to center on the screen */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for the element's size */
    z-index: 1000; /* Ensure it appears above other elements */
    line-height: 1.6; /* Add spacing between lines */
}

/*@media screen and (min-width: 600px) {
    textarea {
        width: 400px;
    }
  }*/
