* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: floralwhite;
    font-family: 'Poppins', sans-serif;
    /* Setter footer nederst på siden */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.top-container {
    height: 100px;
    margin: 5px;
}

nav {
    height: inherit;
    width: inherit;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
}

#nav4 {
    background-color: #A9BE62;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.logo-elements {
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    align-items: center;
}

.logo-img {
    clip-path: 0% 0% 20% 0%;
}

.title-text {
    font-size: 20pt;
    color: #A9BE62;
}

.nav-elements {
    list-style: none;
    display: flex;
    width: 500px;
    float: right;
    align-items: center;
    justify-content: space-between;
    margin-right: 24px;
}

.blog-container{
    height: 120px;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.blog-container h2 {
    font-size: 28pt;
}

.blog-update{
    padding-top: 20px;
}

.separator {
    height: 1px;
    background-color: lightgray;
    margin: 10px 0;
  }

.blog-content{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.blog-box{
    background-color:beige;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.blog-image-preview{
    height: 250px;
    
}

.blog-text-preview{
    height: 100px; 
    margin-left: 12px;
}

/*text inni blog-box*/
.blog-text-preview h3{
    font-size: 16pt;
    color: black;
}
.blog-text-preview h4{
    font-size: 12pt;
    color: green;
}
.blog-text-preview p{
    font-size: 10pt;
    color: gray;
    margin-top: 14px;
}

footer {
    background-color: #fff;
    border-top: 5px solid #fff;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
    bottom: 0;
}
