* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: black;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.top-container {
    height: 100px;
    margin: 5px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    height: inherit;
    width: inherit;
    border-radius: 25px;
}

.logo-elements {
    display: flex;
    align-items: center;
    height: inherit;
    margin-left: 12px;
}

.logo {
    clip-path: inset(0 0 20% 0); 
}

.logo-title {
    color: green;
    margin-left: 15px;
    -ms-text-size-adjust: auto;
}

.nav-elements {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    float: left;
    margin-right: 24px;
}

.nav-elements li {
    margin-right: 100px; 
}

.nav-elements a {
    text-decoration: none;
    color: black;
}